$accent-font: "Oswald", "Impact", sans-serif;
$main-font: "Lato", "Helvetica", sans-serif;

$text-color-accent: #000000;
$text-color-main: #444444;
$text-color-light: #f2f2f2;
$text-color-darken: #666666;
$text-color-dark: #222222;
$text-color-contrast: #ffffff;


$bg-color-main: #ffffff;
$bg-color-lighten: #f2f2f2;
$bg-color-light: #ebebeb;
$bg-color-darkest: #dcdcdc;
$bg-color-darken: #666666;
$bg-color-dark: #eaeaea;
$bg-color-accent: #68b738;
$bg-color-accent-bright: #5eaa2f;

$border-color-light: #e6e6e6;
$border-color-lighten: #e7e7e7;
$border-color-dark: #d9d9d9;
$border-color-darken: #cdcdcd;
$border-color-black: #444444;
$border-color-alert: #ff8282;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
