.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 20px 22px;

  background-color: $bg-color-lighten;

  @media (width >= #{$tablet-width}) {
    min-height: 372px;
    padding: 77px 316px 20px 53px;
  }

  @media (width >= #{$desktop-width}) {
    padding: 77px 50px 59px 52px;
  }

  &::before {
    --module-card-icon-size: 50px;

    content: "";

    position: absolute;
    top: 24px;
    left: 20px;

    display: block;
    width: var(--module-card-icon-size);
    height: var(--module-card-icon-size);
    border-radius: 50%;

    background-color: $bg-color-accent;

    @media (width >= #{$tablet-width}) {
      --module-card-icon-size: 200px;

      top: 92px;
      left: initial;
      right: 64px;
    }

    @media (width >= #{$desktop-width}) {
      --module-card-icon-size: 100px;

      top: 47px;
      left: 53px;
      right: initial;
    }
  }

  &::after {
    content: "";

    position: absolute;

    display: block;

    background: $text-color-accent;
    mask: var(--module-icon) no-repeat center / cover;
  }

  &--slim::after {
    --module-icon: url("../../icons/stack.svg#cat-slim");

    top: 21px;
    left: 27px;

    width: 36px;
    height: 50px;

    @media (width >= #{$tablet-width}) {
      top: 81px;
      right: 94px;
      left: initial;

      width: 140px;
      height: 194px;
    }

    @media (width >= #{$desktop-width}) {
      top: 41px;
      left: 68px;
      right: initial;

      width: 70px;
      height: 97px;
    }
  }

  &--pro::after {
    --module-icon: url("../../icons/stack.svg#cat-pro");

    top: 35px;
    left: 12px;

    width: 67px;
    height: 28px;

    @media (#{$tablet-width} <= width < #{$desktop-width}) {
      top: 135px;
      right: 28px;
      left: initial;

      width: 268px;
      height: 112px;
    }

    @media (width >= #{$desktop-width}) {
      top: 67px;
      left: 34px;
      right: initial;

      width: 134px;
      height: 56px;
    }
  }
}

.card__title {
  margin: 0 0 29px;
  padding-left: 71px;

  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $text-color-accent;

  @media (width >= #{$tablet-width}) {
    margin-bottom: 25px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (width >= #{$desktop-width}) {
    margin-bottom: 74px;
    padding-left: 162px;
  }
}

.card__text {
  position: relative;

  margin: 0;

  font-family: $main-font;
  color: $text-color-main;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }

  &:last-of-type {
    margin-bottom: 41px;
  }

  @media (width < #{$tablet-width}) {
    &:last-of-type::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -23px;

      display: block;
      width: 100%;
      height: 1px;

      background-color: $border-color-dark;
    }
  }

  @media (#{$tablet-width} <= width < #{$desktop-width}) {
    &:last-of-type {
      margin-bottom: 51px;
    }
  }

  @media (width >= #{$desktop-width}) {
    &:last-of-type {
      margin-bottom: 26px;
    }
  }
}

.card__link {
  display: grid;
  grid-template-columns: auto 32px;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: fit-content;

  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color-accent;

  transition: 0.08s linear all;
  outline: none;

  &:focus-visible {
    outline: 2px solid $text-color-accent;
    outline-offset: 2px;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 2px solid $text-color-accent;
      outline-offset: 2px;
    }
  }

  @media (width >= #{$tablet-width}) {
    gap: 25px;
    border-top: none;

    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";

    display: block;
    width: 32px;
    height: 11px;

    background: $text-color-accent;
    mask: url("../../icons/stack.svg#arrow") no-repeat -8px center / 32px 11px;
    transition: 0.08s linear all;
  }

  &:hover::after,
  &:focus-visible::after {
    mask-position: 0 center;
  }

  @supports not selector(:focus-visible) {
    &:focus::after {
      mask-position: 0 center;
    }
  }
}
