.catalog-all {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;

  text-align: center;

  @media (width >= #{$tablet-width}) {
    padding: 81px 38px 38px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;

    display: block;

    @media (width < #{$tablet-width}) {
      right: 0;
      left: 0;

      height: 1px;

      background-color: $border-color-light;
      box-shadow: 30px 0 0 0 #{$border-color-light}, -30px 0 0 0 #{$border-color-light};
    }
  }

  &::before {
    top: 0;

    @media (width >= #{$tablet-width}) {
      z-index: -1;
      inset: 81px 0 0;

      border: 1px solid #{$border-color-light};
    }

    @media (width >= #{$desktop-width}) {
      inset: 71px 0 0;
    }
  }

  &::after {
    bottom: 0;
  }
}

.catalog-all__title {
  --decoration-color: #d3d3d3;
  --decoration-width: 30px;
  --decoration-height: 2px;
  --decoration-offset: 0px;

  position: relative;

  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 53px;

  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @media (width >= #{$tablet-width}) {
    --decoration-width: 60px;
    --decoration-offset: 51px;

    max-width: 150px;
    margin-bottom: 23px;
    padding-top: 164px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (width >= #{$desktop-width}) {
    --decoration-offset: 39px;

    margin-bottom: 28px;
    padding-top: 142px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: calc(var(--decoration-width) / 2 + var(--decoration-offset));
    left: calc(50% - var(--decoration-width) / 2);

    display: block;
    width: var(--decoration-width);
    height: var(--decoration-height);

    background-color: var(--decoration-color);
  }

  &::after {
    transform: rotate(90deg);
  }
}

.catalog-all__text {
  margin-top: 0;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;

  @media (width >= #{$tablet-width}) {
    max-width: 170px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-all__button {
  width: 100%;
  margin-top: auto;
}
