.header {
  position: relative;

  grid-template-columns: repeat(3, 1fr);

  @media (width >= #{$tablet-width}) {
    grid-template-columns: 174px 1fr;
    padding: 25px 34px 0 30px;
    gap: 30px;
  }

  @media (width >= #{$desktop-width}) {
    grid-template-columns: 202px 1fr 50%;
    padding: 55px 0 30px;
  }
}

.header__logo {
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: flex-start;

  @media (width >= #{$tablet-width}) {
    grid-column: auto;
  }
}

.header__nav {
  grid-column: 1 / -1;
  grid-row: 1;

  @media (width >= #{$tablet-width}) {
    grid-column: 2;
  }

  @media (width >= #{$desktop-width}) {
    grid-column: 3;
  }
}
