.nav {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  font-family: $accent-font;

  @media (width < #{$tablet-width}) {
    border-bottom: 1px solid $border-color-light;
    box-shadow: 30px 0 0 0 $border-color-light, -30px 0 0 0 $border-color-light;
  }

  @media (width >= #{$tablet-width}) {
    grid-template-columns: auto;
    padding-top: 14px;

    background: none;
  }

  @media (width >= #{$desktop-width}) {
    padding: 14px 0 0;
  }

  &--no-js {
    grid-row: 2;

    .nav__toggler {
      display: none;
    }

    .nav__list {
      position: static;
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}

.nav__list {
  position: absolute;
  z-index: 10;

  display: block;
  top: 100%;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (width >= #{$tablet-width}) {
    position: static;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 33px;
  }

  @media (width >= #{$tablet-width}) {
    gap: 35px;
  }

  &--closed {
    @media (width < #{$tablet-width}) {
      display: none;
    }
  }
}

.nav__item {
  background-color: $bg-color-main;

  @media (width >= #{$tablet-width}) {
    background: none;
  }
}

.nav__link {
  display: block;
  width: 100%;
  padding: 22px 20px;
  border-top: 1px solid $border-color-light;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-accent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  outline: none;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      opacity: 0.8;
    }
  }

  @media (width >= #{$tablet-width}) {
    position: relative;

    padding: 0;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &[aria-current="page"]::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;

      display: block;
      height: 2px;

      background-color: $bg-color-accent;
    }

    @media (width >= #{$desktop-width}) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::before {
    @media (width < #{$tablet-width}) {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: block;
      height: 1px;

      background-color: $border-color-light;
      box-shadow:
        30px 0 0 0 $border-color-light,
        -30px 0 0 0 $border-color-light;
    }
  }
}

.nav__toggler {
  position: relative;

  grid-column: 3;
  grid-row: 1;
  place-self: center end;
  width: 24px;
  height: 18px;
  margin-right: 20px;
  border-radius: 0;
  border: none;
  outline: none;

  background-color: $bg-color-main;
  cursor: pointer;

  @media (width >= #{$tablet-width}) {
    display: none;
  }

  &:focus-visible {
    outline: 2px solid $text-color-accent;
    outline-offset: 2px;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 2px solid $text-color-accent;
      outline-offset: 2px;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 25px;
    height: 1.5px;

    background-color: $text-color-accent;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 25px;
    height: 1.5px;

    background-color: $text-color-accent;
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &--closed::before {
    top: 0;
    left: 0;

    width: 100%;

    transform: none;
  }

  &--closed::after {
    top: 8px;
    left: 0;

    width: 100%;

    box-shadow: 0 8px 0 0 $text-color-accent;
    transform: none;
  }
}

.nav--index .nav__link {
  @media (width >= #{$desktop-width}) {
    color: $text-color-contrast;

    &[aria-current="page"]::after {
      background-color: $bg-color-main;
    }
  }
}
